automation/workflow-shabbat-steward.json
{
  "name": "AI Erev Shabbat Steward",
  "id": "doDPWdjsTbSQHcBo",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "binaryMode": "separate"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "id": "cron-shabbat",
      "name": "Daily 15:00 Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load project configuration from file\nconst fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/home/node/.n8n/config.json', 'utf8'));\nreturn [{ json: config }];\n"
      },
      "id": "load-config",
      "name": "Load Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if tonight there's a Kodesh entry (candle lighting)\n// Also determines if this is a Chol→Kodesh transition or Kodesh→Kodesh (multi-day)\nconst config = $('Load Config').first().json;\nconst LAT = config.location.latitude;\nconst LON = config.location.longitude;\n\nconst today = new Date();\nconst dateStr = today.toISOString().slice(0, 10);\nconst yesterday = new Date(today.getTime() - 24 * 60 * 60 * 1000);\nconst yesterdayStr = yesterday.toISOString().slice(0, 10);\n\n// Get Hebcal shabbat data\nconst url = `https://www.hebcal.com/shabbat?cfg=json&latitude=${LAT}&longitude=${LON}&M=on&b=18`;\nconst response = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n\nlet candleLighting = null;\nlet havdalah = null;\nlet isErevKodesh = false;\nlet holidayName = '';\n\nfor (const item of response.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n  if (item.category === 'candles' && itemDate === dateStr) {\n    candleLighting = item.date;\n    isErevKodesh = true;\n    holidayName = item.title || 'Shabbat';\n  }\n  if (item.category === 'havdalah') {\n    havdalah = item.date;\n  }\n}\n\n// Determine if today is already Kodesh (yesterday had candle lighting or today is Shabbat morning)\n// If today is already Kodesh, then tonight's candle lighting is Kodesh→Kodesh (no shutdown needed)\nlet isTodayAlreadyKodesh = false;\n\n// Check if yesterday was erev (had candle lighting)\nfor (const item of response.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n  if (item.category === 'candles' && itemDate === yesterdayStr) {\n    isTodayAlreadyKodesh = true;\n  }\n}\n\n// Also check: if today is Saturday (woke up on Shabbat) \nif (today.getDay() === 6) {\n  isTodayAlreadyKodesh = true;\n}\n\n// Check Hebrew calendar for Yom Tov today\nconst calUrl = `https://www.hebcal.com/hebcal?v=1&cfg=json&year=now&month=now&maj=on&min=off&mod=off&nx=off&ss=off&mf=off&c=off&geo=pos&latitude=${LAT}&longitude=${LON}`;\nconst calResp = await this.helpers.httpRequest({ method: 'GET', url: calUrl, json: true });\n\nfor (const item of calResp.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n  if (itemDate === dateStr && item.yomtov === true) {\n    isTodayAlreadyKodesh = true;\n  }\n}\n\n// KEY LOGIC:\n// isTransitionCholToKodesh = there IS candle lighting tonight AND today is NOT already Kodesh\nconst isTransitionCholToKodesh = isErevKodesh && !isTodayAlreadyKodesh;\n\n// Sunset time (candle lighting + 18 min ≈ sunset)\nlet sunsetTime = null;\nif (candleLighting) {\n  const cl = new Date(candleLighting);\n  sunsetTime = new Date(cl.getTime() + 18 * 60 * 1000).toISOString();\n}\n\nconst month = today.getMonth() + 1;\nconst isSummerMonth = config.settings.SUMMER_MONTHS.includes(month);\n\nreturn [{\n  json: {\n    isErevKodesh,\n    isTransitionCholToKodesh,\n    isTodayAlreadyKodesh,\n    candleLighting,\n    havdalah,\n    sunsetTime,\n    holidayName,\n    isSummerMonth,\n    month,\n    dateStr\n  }\n}];\n"
      },
      "id": "check-entry",
      "name": "Check Shabbat Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-erev",
              "leftValue": "={{$json.isErevKodesh}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-erev",
      "name": "Is Erev Kodesh?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get weather forecast for the next 36 hours from Tomorrow.io\nconst config = $('Load Config').first().json;\nconst LAT = config.location.latitude;\nconst LON = config.location.longitude;\nconst API_KEY = config.secrets.TOMORROW_IO_KEY;\n\nconst url = `https://api.tomorrow.io/v4/weather/forecast?location=${LAT},${LON}&timesteps=1h&apikey=${API_KEY}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: url,\n  json: true\n});\n\n// Extract relevant hourly data for the next 36 hours\nconst hourly = (response.timelines?.hourly || []).slice(0, 36).map(h => ({\n  time: h.time,\n  temperature: h.values?.temperature,\n  humidity: h.values?.humidity,\n  cloudCover: h.values?.cloudCover,\n  weatherCode: h.values?.weatherCode\n}));\n\n// Calculate max temperature for today/tomorrow\nconst maxTemp = Math.max(...hourly.map(h => h.temperature || 0));\n\nreturn [{\n  json: {\n    forecast: hourly,\n    maxTemp,\n    currentTemp: hourly[0]?.temperature || null\n  }\n}];\n"
      },
      "id": "get-weather",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// AI Erev Shabbat/Chag Steward - Plans EVENING actions\n// Runs at 15:00 daily. Only acts if there's a Kodesh entry tonight.\n// Responsibilities:\n//   1. If transition Chol→Kodesh tonight: shutdown boiler + mini-bar\n//   2. Plan evening/night actions (AC for dinner, bedrooms, etc.)\n//   Does NOT handle: havdalah, daytime Shabbat actions\nconst config = $('Load Config').first().json;\n\n// --- DEBUG MODE: return mock result ---\nif (config.debug && config.debug.mockAI) {\n  const mock = (config.debug.shabbat && config.debug.shabbat.mockResult) || { reasoning_summary: 'MOCK: ללא פעולות', schedule: [] };\n  return [{ json: mock }];\n}\n\nconst shabbatData = $('Check Shabbat Entry').first().json;\nconst weatherData = $('Get Weather Forecast').first().json;\n\nconst GEMINI_KEY = config.secrets.GEMINI_API_KEY;\nconst devices = config.devices;\n\nconst prompt = `You are the \"AI Erev Shabbat/Chag Steward.\" You plan EVENING actions for tonight.\nIt is now 15:00. You run every day at 15:00 and only act if there is a Kodesh entry (candle lighting) tonight.\n\nYOUR SCOPE (tonight only):\n- Plan actions from NOW (15:00) until tomorrow morning 11:00.\n- You do NOT plan daytime Shabbat actions (that's another agent's job).\n- You do NOT handle havdalah/transition to Chol (that's another agent's job).\n\nTRANSITION LOGIC:\n- isTransitionCholToKodesh: ${shabbatData.isTransitionCholToKodesh} \n  → If TRUE: Today is Chol transitioning to Kodesh tonight. You MUST turn OFF boiler (30 min before candles) and mini-bar (at candle lighting).\n  → If FALSE: Already Kodesh (multi-day chag). Do NOT turn off boiler/mini-bar (already off). Only plan evening comfort actions.\n\nAvailable smart entities:\n- Boiler (ID=\"${devices.BOILER}\" - code \"switch_1\") - OFF only if transition Chol→Kodesh\n- Mini-Bar (ID=\"${devices.MINI_BAR}\" - code \"switch_1\") - OFF only if transition Chol→Kodesh\n- Living Room ACs (IDs: \"${devices.AC_LIVING_1}\", \"${devices.AC_LIVING_2}\" - codes: \"switch\", \"mode\", \"temp_set\")\n- Bedroom AC (ID=\"${devices.AC_BEDROOM}\")\n- Kids Room AC (ID=\"${devices.AC_KIDS}\")\n- Shutters (Left=\"${devices.SHUTTER_LEFT}\", Right=\"${devices.SHUTTER_RIGHT}\" - code \"percent_control\", 0=closed, 100=open)\n\nContext:\n- Candle Lighting: ${shabbatData.candleLighting}\n- Sunset: ${shabbatData.sunsetTime}\n- Is Summer Month: ${shabbatData.isSummerMonth}\n- Month: ${shabbatData.month}\n- Max Temperature: ${weatherData.maxTemp}°C\n- Current Temperature: ${weatherData.currentTemp}°C\n- Forecast: ${JSON.stringify(weatherData.forecast.slice(0, 12))}\n\nRULES:\n1. If isTransitionCholToKodesh=true:\n   - Boiler OFF 30 min before candle lighting\n   - Mini-Bar OFF at candle lighting\n2. If isTransitionCholToKodesh=false: Skip boiler/mini-bar (already handled)\n3. Summer (months 5-10) + temp > 20°C:\n   - Living room ACs ON 1 hour after sunset for 2 hours (Friday night dinner)\n   - After dinner: Bedroom AC ON until 11:00 next day (always in summer)\n   - After dinner: Kids AC ON until 11:00 next day (only if temp > 20°C)\n4. Shutters: Close before sunset if hot day.\n\nOutput ONLY valid JSON:\n{\n  \"reasoning_summary\": \"Brief Hebrew summary\",\n  \"schedule\": [\n    {\n      \"time\": \"YYYY-MM-DDTHH:MM:SS+03:00\",\n      \"deviceId\": \"tuya_device_id\",\n      \"entity\": \"entity_name\",\n      \"action\": \"ON/OFF/SET\",\n      \"commands\": [{\"code\": \"command_code\", \"value\": \"value\"}],\n      \"explanation\": \"Why (Hebrew)\"\n    }\n  ]\n}`;\n\nconst payload = {\n  contents: [{ role: \"user\", parts: [{ text: prompt }] }],\n  generationConfig: {\n    responseMimeType: \"application/json\",\n    responseSchema: {\n      type: \"object\",\n      properties: {\n        reasoning_summary: { type: \"string\" },\n        schedule: {\n          type: \"array\",\n          items: {\n            type: \"object\",\n            properties: {\n              time: { type: \"string\" },\n              deviceId: { type: \"string\" },\n              entity: { type: \"string\" },\n              action: { type: \"string\" },\n              commands: { type: \"array\", items: { type: \"object\", properties: { code: { type: \"string\" }, value: {} } } },\n              explanation: { type: \"string\" }\n            },\n            required: [\"time\", \"deviceId\", \"entity\", \"action\", \"commands\", \"explanation\"]\n          }\n        }\n      },\n      required: [\"reasoning_summary\", \"schedule\"]\n    }\n  }\n};\n\nconst url = \"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=\" + GEMINI_KEY;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST', url, body: payload, json: true,\n    headers: { 'Content-Type': 'application/json' }\n  });\n  const text = response.candidates[0].content.parts[0].text;\n  const result = JSON.parse(text.replace(/```json|```/g, '').trim());\n  return [{ json: result }];\n} catch (e) {\n  return [{ json: { reasoning_summary: \"שגיאה: \" + e.message, schedule: [] } }];\n}\n"
      },
      "id": "ai-steward",
      "name": "AI Shabbat Steward",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Not Erev Kodesh today - no action needed\nreturn [{ json: { message: 'Not Erev Kodesh today, skipping.' } }];"
      },
      "id": "skip-node",
      "name": "Not Erev - Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split the AI schedule into individual items for sequential execution\n// Each item will go through a Wait -> Execute loop\nconst schedule = $input.first().json.schedule || [];\n\n// Sort by time\nconst sorted = schedule.sort((a, b) => new Date(a.time) - new Date(b.time));\n\n// Return each action as a separate item\nreturn sorted.map(action => ({ json: action }));\n"
      },
      "id": "split-schedule",
      "name": "Split Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate how many seconds to wait until this action's scheduled time\nconst action = $input.first().json;\nconst targetTime = new Date(action.time).getTime();\nconst now = Date.now();\nconst waitSeconds = Math.max(0, Math.floor((targetTime - now) / 1000));\n\nreturn [{\n  json: {\n    ...action,\n    waitSeconds\n  }\n}];\n"
      },
      "id": "calc-wait",
      "name": "Calc Wait Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -96
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.waitSeconds}}"
      },
      "id": "wait-action",
      "name": "Wait Until Action Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        -96
      ],
      "webhookId": "a397676b-12ae-4fd0-97eb-f4c86d3b1703"
    },
    {
      "parameters": {
        "jsCode": "// Execute a single Tuya command for the current scheduled action\nconst crypto = require('crypto');\nconst config = $('Load Config').first().json;\n\nconst action = $input.first().json;\n\nconst TUYA_ACCESS_ID = config.secrets.TUYA_ACCESS_ID;\nconst TUYA_ACCESS_SECRET = config.secrets.TUYA_ACCESS_SECRET;\nconst API_URL = 'https://openapi.tuyaeu.com';\n\n// Get Tuya token\nconst timestamp = Date.now().toString();\nconst tokenPath = '/v1.0/token?grant_type=1';\nconst contentHash = crypto.createHash('sha256').update('').digest('hex');\nconst stringToSign = 'GET\\n' + contentHash + '\\n\\n' + tokenPath;\nconst str = TUYA_ACCESS_ID + timestamp + stringToSign;\nconst sign = crypto.createHmac('sha256', TUYA_ACCESS_SECRET).update(str).digest('hex').toUpperCase();\n\nconst tokenResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: API_URL + tokenPath,\n  headers: { 't': timestamp, 'sign': sign, 'client_id': TUYA_ACCESS_ID, 'sign_method': 'HMAC-SHA256' },\n  json: true\n});\n\nconst token = tokenResp.result.access_token;\n\n// Send command\nconst cmdTimestamp = Date.now().toString();\nconst cmdPath = '/v1.0/devices/' + action.deviceId + '/commands';\nconst body = JSON.stringify({ commands: action.commands });\n\nconst cmdContentHash = crypto.createHash('sha256').update(body).digest('hex');\nconst cmdStringToSign = 'POST\\n' + cmdContentHash + '\\n\\n' + cmdPath;\nconst cmdStr = TUYA_ACCESS_ID + token + cmdTimestamp + cmdStringToSign;\nconst cmdSign = crypto.createHmac('sha256', TUYA_ACCESS_SECRET).update(cmdStr).digest('hex').toUpperCase();\n\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: API_URL + cmdPath,\n  headers: {\n    't': cmdTimestamp, 'sign': cmdSign, 'client_id': TUYA_ACCESS_ID,\n    'sign_method': 'HMAC-SHA256', 'access_token': token,\n    'Content-Type': 'application/json'\n  },\n  body: body,\n  json: true\n});\n\nreturn [{\n  json: {\n    entity: action.entity,\n    action: action.action,\n    time: action.time,\n    success: result.success,\n    explanation: action.explanation\n  }\n}];\n"
      },
      "id": "exec-action",
      "name": "Execute Tuya Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Send beautiful Erev Shabbat/Chag summary email\nconst config = $('Load Config').first().json;\nconst shabbatData = $('Check Shabbat Entry').first().json;\nconst aiResult = $('AI Shabbat Steward').first().json;\n\nconst candleLighting = shabbatData.candleLighting \n  ? new Date(shabbatData.candleLighting).toLocaleTimeString('he-IL', { hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Jerusalem' })\n  : 'לא זמין';\n\nconst holidayName = shabbatData.holidayName || 'שבת';\nconst isTransition = shabbatData.isTransitionCholToKodesh;\nconst actionsCount = (aiResult.schedule || []).length;\nconst reasoning = aiResult.reasoning_summary || '';\n\n// Build schedule table rows\nconst scheduleRows = (aiResult.schedule || []).map(action => {\n  const time = new Date(action.time).toLocaleTimeString('he-IL', { hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Jerusalem' });\n  const icon = action.action === 'OFF' ? '🔴' : '🟢';\n  return `<tr>\n    <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${icon} ${time}</td>\n    <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${action.entity}</td>\n    <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${action.explanation || ''}</td>\n  </tr>`;\n}).join('');\n\nconst htmlBody = `\n<div style=\"direction: rtl; font-family: 'Segoe UI', Tahoma, sans-serif; max-width: 600px; margin: auto; border: 1px solid #eee; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 25px; text-align: center;\">\n    <h1 style=\"margin: 0; font-size: 26px;\">🕯️ ${holidayName} שלום!</h1>\n    <p style=\"margin: 10px 0 0; font-size: 16px; opacity: 0.9;\">הדלקת נרות: ${candleLighting}</p>\n  </div>\n  \n  <div style=\"padding: 25px; color: #333;\">\n    <div style=\"background: #f8f9fa; padding: 15px; border-radius: 8px; margin-bottom: 20px;\">\n      <p style=\"margin: 0; font-size: 15px; font-weight: bold;\">🤖 ניתוח AI:</p>\n      <p style=\"margin: 8px 0 0; font-size: 14px; color: #555;\">${reasoning}</p>\n    </div>\n\n    <p style=\"font-size: 15px; font-weight: bold; margin-bottom: 10px;\">\n      ${isTransition ? '🔄 מעבר חול → קודש' : '✡️ קודש → קודש (חג מחובר)'}\n    </p>\n\n    <p style=\"font-size: 14px; color: #666; margin-bottom: 15px;\">\n      ${actionsCount} פעולות מתוזמנות לערב:\n    </p>\n\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 13px;\">\n      <thead>\n        <tr style=\"background: #f0f0f0;\">\n          <th style=\"padding: 8px; text-align: right;\">שעה</th>\n          <th style=\"padding: 8px; text-align: right;\">מכשיר</th>\n          <th style=\"padding: 8px; text-align: right;\">סיבה</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${scheduleRows}\n      </tbody>\n    </table>\n  </div>\n\n  <div style=\"background: #f8f9fa; padding: 12px; text-align: center; font-size: 11px; color: #999;\">\n    AI Shabbat Steward | n8n Automation\n  </div>\n</div>\n`;\n\nreturn [{\n  json: {\n    to: config.settings.NOTIFICATION_EMAIL,\n    subject: `🕯️ ${holidayName} - סיכום הכנות (${actionsCount} פעולות)`,\n    html: htmlBody\n  }\n}];\n"
      },
      "id": "erev-email-prep",
      "name": "Prepare Erev Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -256
      ]
    },
    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "={{.to}}",
        "subject": "={{.subject}}",
        "html": "={{.html}}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "erev-email-send",
      "name": "Send Erev Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1440,
        -256
      ],
      "webhookId": "5e435e4d-e151-4925-88df-0f1c713581f0",
      "credentials": {
        "smtp": {
          "id": "ryZJ2VT9HAAZoS3d",
          "name": "Gmail Relay SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily 15:00 Check": {
      "main": [
        [
          {
            "node": "Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config": {
      "main": [
        [
          {
            "node": "Check Shabbat Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Shabbat Entry": {
      "main": [
        [
          {
            "node": "Is Erev Kodesh?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Erev Kodesh?": {
      "main": [
        [
          {
            "node": "Get Weather Forecast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Erev - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Forecast": {
      "main": [
        [
          {
            "node": "AI Shabbat Steward",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Shabbat Steward": {
      "main": [
        [
          {
            "node": "Split Schedule",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Erev Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Schedule": {
      "main": [
        [
          {
            "node": "Calc Wait Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Wait Time": {
      "main": [
        [
          {
            "node": "Wait Until Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Action Time": {
      "main": [
        [
          {
            "node": "Execute Tuya Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Erev Email": {
      "main": [
        [
          {
            "node": "Send Erev Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}