automation/workflow-shabbat-steward.json
{
  "name": "AI Shabbat & Holiday Steward",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-shabbat",
      "name": "Daily 15:00 Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load project configuration from file\nconst fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/home/node/.n8n/config.json', 'utf8'));\nreturn [{ json: config }];\n"
      },
      "id": "load-config",
      "name": "Load Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if tonight there's a Kodesh entry (candle lighting)\n// Also determines if this is a Chol→Kodesh transition or Kodesh→Kodesh (multi-day)\nconst config = $('Load Config').first().json;\nconst LAT = config.settings.LATITUDE;\nconst LON = config.settings.LONGITUDE;\n\nconst today = new Date();\nconst dateStr = today.toISOString().slice(0, 10);\nconst yesterday = new Date(today.getTime() - 24 * 60 * 60 * 1000);\nconst yesterdayStr = yesterday.toISOString().slice(0, 10);\n\n// Get Hebcal shabbat data\nconst url = `https://www.hebcal.com/shabbat?cfg=json&latitude=${LAT}&longitude=${LON}&M=on&b=18`;\nconst response = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n\nlet candleLighting = null;\nlet havdalah = null;\nlet isErevKodesh = false;\nlet holidayName = '';\n\nfor (const item of response.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n  if (item.category === 'candles' && itemDate === dateStr) {\n    candleLighting = item.date;\n    isErevKodesh = true;\n    holidayName = item.title || 'Shabbat';\n  }\n  if (item.category === 'havdalah') {\n    havdalah = item.date;\n  }\n}\n\n// Determine if today is already Kodesh (yesterday had candle lighting or today is Shabbat morning)\n// If today is already Kodesh, then tonight's candle lighting is Kodesh→Kodesh (no shutdown needed)\nlet isTodayAlreadyKodesh = false;\n\n// Check if yesterday was erev (had candle lighting)\nfor (const item of response.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n  if (item.category === 'candles' && itemDate === yesterdayStr) {\n    isTodayAlreadyKodesh = true;\n  }\n}\n\n// Also check: if today is Saturday (woke up on Shabbat) \nif (today.getDay() === 6) {\n  isTodayAlreadyKodesh = true;\n}\n\n// Check Hebrew calendar for Yom Tov today\nconst calUrl = `https://www.hebcal.com/hebcal?v=1&cfg=json&year=now&month=now&maj=on&min=off&mod=off&nx=off&ss=off&mf=off&c=off&geo=pos&latitude=${LAT}&longitude=${LON}`;\nconst calResp = await this.helpers.httpRequest({ method: 'GET', url: calUrl, json: true });\n\nfor (const item of calResp.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n  if (itemDate === dateStr && item.yomtov === true) {\n    isTodayAlreadyKodesh = true;\n  }\n}\n\n// KEY LOGIC:\n// isTransitionCholToKodesh = there IS candle lighting tonight AND today is NOT already Kodesh\nconst isTransitionCholToKodesh = isErevKodesh && !isTodayAlreadyKodesh;\n\n// Sunset time (candle lighting + 18 min ≈ sunset)\nlet sunsetTime = null;\nif (candleLighting) {\n  const cl = new Date(candleLighting);\n  sunsetTime = new Date(cl.getTime() + 18 * 60 * 1000).toISOString();\n}\n\nconst month = today.getMonth() + 1;\nconst isSummerMonth = config.settings.SUMMER_MONTHS.includes(month);\n\nreturn [{\n  json: {\n    isErevKodesh,\n    isTransitionCholToKodesh,\n    isTodayAlreadyKodesh,\n    candleLighting,\n    havdalah,\n    sunsetTime,\n    holidayName,\n    isSummerMonth,\n    month,\n    dateStr\n  }\n}];\n"
      },
      "id": "check-entry",
      "name": "Check Shabbat Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-erev",
              "leftValue": "={{$json.isErevKodesh}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-erev",
      "name": "Is Erev Kodesh?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get weather forecast for the next 36 hours from Tomorrow.io\nconst config = $('Load Config').first().json;\nconst LAT = config.settings.LATITUDE;\nconst LON = config.settings.LONGITUDE;\nconst API_KEY = config.secrets.TOMORROW_IO_KEY;\n\nconst url = `https://api.tomorrow.io/v4/weather/forecast?location=${LAT},${LON}&timesteps=1h&apikey=${API_KEY}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: url,\n  json: true\n});\n\n// Extract relevant hourly data for the next 36 hours\nconst hourly = (response.timelines?.hourly || []).slice(0, 36).map(h => ({\n  time: h.time,\n  temperature: h.values?.temperature,\n  humidity: h.values?.humidity,\n  cloudCover: h.values?.cloudCover,\n  weatherCode: h.values?.weatherCode\n}));\n\n// Calculate max temperature for today/tomorrow\nconst maxTemp = Math.max(...hourly.map(h => h.temperature || 0));\n\nreturn [{\n  json: {\n    forecast: hourly,\n    maxTemp,\n    currentTemp: hourly[0]?.temperature || null\n  }\n}];\n"
      },
      "id": "get-weather",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Plan Erev Shabbat actions: shutdown devices + schedule AC for Friday night\nconst config = $('Load Config').first().json;\nconst shabbatData = $('Check Shabbat Entry').first().json;\nconst weatherData = $('Get Weather Forecast').first().json;\n\nconst candleLighting = shabbatData.candleLighting;\nconst sunsetTime = shabbatData.sunsetTime;\nconst isSummer = shabbatData.isSummerMonth;\nconst maxTemp = weatherData.maxTemp;\n\nconst devices = config.devices;\nconst schedule = [];\n\n// === FIXED ACTIONS: Always on Erev Shabbat ===\n\n// 1. Turn OFF Boiler 30 min before candle lighting\nconst clDate = new Date(candleLighting);\nconst boilerOff = new Date(clDate.getTime() - 30 * 60 * 1000);\nschedule.push({\n  time: boilerOff.toISOString(),\n  deviceId: devices.BOILER,\n  entity: 'Boiler',\n  action: 'OFF',\n  commands: [{ code: 'switch_1', value: false }]\n});\n\n// 2. Turn OFF Mini-Bar at candle lighting\nschedule.push({\n  time: candleLighting,\n  deviceId: devices.MINI_BAR,\n  entity: 'Mini-Bar',\n  action: 'OFF',\n  commands: [{ code: 'switch_1', value: false }]\n});\n\n// === CONDITIONAL: AC for Friday night dinner (summer + hot) ===\nif (isSummer && maxTemp >= config.settings.AC_TEMP_THRESHOLD) {\n  // Living room ACs: 1 hour after sunset for 2 hours\n  const sunsetDate = new Date(sunsetTime);\n  const acOn = new Date(sunsetDate.getTime() + 60 * 60 * 1000);\n  const acOff = new Date(acOn.getTime() + 2 * 60 * 60 * 1000);\n\n  // Turn ON living room ACs\n  schedule.push({\n    time: acOn.toISOString(),\n    deviceId: devices.AC_LIVING_1,\n    entity: 'AC Living 1',\n    action: 'ON',\n    commands: [{ code: 'switch', value: true }, { code: 'mode', value: 'cold' }, { code: 'temp_set', value: 24 }]\n  });\n  schedule.push({\n    time: acOn.toISOString(),\n    deviceId: devices.AC_LIVING_2,\n    entity: 'AC Living 2',\n    action: 'ON',\n    commands: [{ code: 'switch', value: true }, { code: 'mode', value: 'cold' }, { code: 'temp_set', value: 24 }]\n  });\n\n  // Turn OFF living room ACs after dinner\n  schedule.push({\n    time: acOff.toISOString(),\n    deviceId: devices.AC_LIVING_1,\n    entity: 'AC Living 1',\n    action: 'OFF',\n    commands: [{ code: 'switch', value: false }]\n  });\n  schedule.push({\n    time: acOff.toISOString(),\n    deviceId: devices.AC_LIVING_2,\n    entity: 'AC Living 2',\n    action: 'OFF',\n    commands: [{ code: 'switch', value: false }]\n  });\n\n  // Bedroom AC: after dinner until 11:00 next morning\n  schedule.push({\n    time: acOff.toISOString(),\n    deviceId: devices.AC_BEDROOM,\n    entity: 'AC Bedroom',\n    action: 'ON',\n    commands: [{ code: 'switch', value: true }, { code: 'mode', value: 'cold' }, { code: 'temp_set', value: 24 }]\n  });\n\n  // Kids AC: after dinner until 11:00 next morning\n  schedule.push({\n    time: acOff.toISOString(),\n    deviceId: devices.AC_KIDS,\n    entity: 'AC Kids',\n    action: 'ON',\n    commands: [{ code: 'switch', value: true }, { code: 'mode', value: 'cold' }, { code: 'temp_set', value: 24 }]\n  });\n}\n\n// Sort by time\nschedule.sort((a, b) => new Date(a.time) - new Date(b.time));\n\nreturn [{ json: { schedule, summary: `Erev Shabbat plan: ${schedule.length} actions scheduled` } }];\n"
      },
      "id": "plan-erev",
      "name": "Plan Erev Shabbat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Execute scheduled Tuya commands at the right times\n// This node receives a schedule array and executes commands that are due NOW\nconst crypto = require('crypto');\nconst config = $('Load Config').first().json;\nconst scheduleData = $input.first().json;\n\nconst TUYA_ACCESS_ID = config.secrets.TUYA_ACCESS_ID;\nconst TUYA_ACCESS_SECRET = config.secrets.TUYA_ACCESS_SECRET;\nconst API_URL = 'https://openapi.tuyaeu.com';\n\n// Get Tuya token\nasync function getTuyaToken() {\n  const timestamp = Date.now().toString();\n  const path = '/v1.0/token?grant_type=1';\n  const contentHash = crypto.createHash('sha256').update('').digest('hex');\n  const stringToSign = 'GET\\n' + contentHash + '\\n\\n' + path;\n  const str = TUYA_ACCESS_ID + timestamp + stringToSign;\n  const sign = crypto.createHmac('sha256', TUYA_ACCESS_SECRET).update(str).digest('hex').toUpperCase();\n\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: API_URL + path,\n    headers: { 't': timestamp, 'sign': sign, 'client_id': TUYA_ACCESS_ID, 'sign_method': 'HMAC-SHA256' },\n    json: true\n  });\n\n  return response.result.access_token;\n}\n\n// Send command to device\nasync function sendCommand(token, deviceId, commands) {\n  const timestamp = Date.now().toString();\n  const path = '/v1.0/devices/' + deviceId + '/commands';\n  const body = JSON.stringify({ commands });\n\n  const contentHash = crypto.createHash('sha256').update(body).digest('hex');\n  const stringToSign = 'POST\\n' + contentHash + '\\n\\n' + path;\n  const str = TUYA_ACCESS_ID + token + timestamp + stringToSign;\n  const sign = crypto.createHmac('sha256', TUYA_ACCESS_SECRET).update(str).digest('hex').toUpperCase();\n\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: API_URL + path,\n    headers: {\n      't': timestamp, 'sign': sign, 'client_id': TUYA_ACCESS_ID,\n      'sign_method': 'HMAC-SHA256', 'access_token': token,\n      'Content-Type': 'application/json'\n    },\n    body: body,\n    json: true\n  });\n\n  return response;\n}\n\n// Filter actions that should execute NOW (within 2 minute window)\nconst now = Date.now();\nconst WINDOW_MS = 2 * 60 * 1000; // 2 minutes\n\nconst dueActions = scheduleData.schedule.filter(action => {\n  const actionTime = new Date(action.time).getTime();\n  return Math.abs(actionTime - now) <= WINDOW_MS;\n});\n\nif (dueActions.length === 0) {\n  return [{ json: { executed: 0, message: 'No actions due at this time' } }];\n}\n\n// Execute due actions\nconst token = await getTuyaToken.call(this);\nconst results = [];\n\nfor (const action of dueActions) {\n  try {\n    const result = await sendCommand.call(this, token, action.deviceId, action.commands);\n    results.push({\n      entity: action.entity,\n      action: action.action,\n      success: result.success,\n      time: action.time\n    });\n  } catch (e) {\n    results.push({\n      entity: action.entity,\n      action: action.action,\n      success: false,\n      error: e.message,\n      time: action.time\n    });\n  }\n}\n\nreturn [{ json: { executed: results.length, results } }];\n"
      },
      "id": "execute-erev",
      "name": "Execute Erev Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Not Erev Kodesh today - no action needed\nreturn [{ json: { message: 'Not Erev Kodesh today, skipping.' } }];"
      },
      "id": "skip-node",
      "name": "Not Erev - Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        100
      ]
    }
  ],
  "connections": {
    "Daily 15:00 Check": {
      "main": [
        [
          {
            "node": "Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config": {
      "main": [
        [
          {
            "node": "Check Shabbat Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Shabbat Entry": {
      "main": [
        [
          {
            "node": "Is Erev Kodesh?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Erev Kodesh?": {
      "main": [
        [
          {
            "node": "Get Weather Forecast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Erev - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Forecast": {
      "main": [
        [
          {
            "node": "Plan Erev Shabbat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Erev Shabbat": {
      "main": [
        [
          {
            "node": "Execute Erev Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}