automation/workflow-shabbat-day.json
{
  "name": "AI Shabbat Day Steward",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-shabbat-day",
      "name": "Daily 00:00 Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load project configuration from file\nconst fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/home/node/.n8n/config.json', 'utf8'));\nreturn [{ json: config }];\n"
      },
      "id": "load-config-day",
      "name": "Load Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if today is Yom Kodesh (Shabbat or Chag)\n// Also check if there's a transition to Chol at sunset today\nconst config = $('Load Config').first().json;\nconst LAT = config.settings.LATITUDE;\nconst LON = config.settings.LONGITUDE;\n\nconst today = new Date();\nconst dateStr = today.toISOString().slice(0, 10);\nconst tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);\nconst tomorrowStr = tomorrow.toISOString().slice(0, 10);\n\n// Get Hebcal data\nconst url = `https://www.hebcal.com/shabbat?cfg=json&latitude=${LAT}&longitude=${LON}&M=on&b=18`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: url,\n  json: true\n});\n\n// Determine if today is Kodesh\n// Today is Kodesh if:\n// - It's Saturday (day 6)\n// - Or there was candle lighting yesterday (holiday)\n// - Or Hebcal shows havdalah for today\n\nlet isYomKodesh = (today.getDay() === 6); // Saturday\nlet havdalahToday = null;\nlet candleLightingToday = null;\nlet transitionToChol = false;\n\nfor (const item of response.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n\n  // If havdalah is today, there's a transition to Chol\n  if (item.category === 'havdalah' && itemDate === dateStr) {\n    havdalahToday = item.date;\n    transitionToChol = true;\n  }\n\n  // If candle lighting was yesterday or today is between candles and havdalah\n  if (item.category === 'candles' && itemDate === dateStr) {\n    candleLightingToday = item.date;\n    // If there's candle lighting today, it means today is also erev (handled by other workflow)\n  }\n}\n\n// Also check: if today is Saturday, it's definitely Kodesh\n// If today is a holiday (check Hebrew calendar)\nconst hebcalCalUrl = `https://www.hebcal.com/hebcal?v=1&cfg=json&year=now&month=now&maj=on&min=off&mod=off&nx=off&ss=off&mf=off&c=off&geo=pos&latitude=${LAT}&longitude=${LON}`;\n\nconst calResponse = await this.helpers.httpRequest({\n  method: 'GET',\n  url: hebcalCalUrl,\n  json: true\n});\n\n// Check if today is a Yom Tov\nfor (const item of calResponse.items || []) {\n  const itemDate = item.date ? item.date.slice(0, 10) : '';\n  if (itemDate === dateStr && item.yomtov === true) {\n    isYomKodesh = true;\n  }\n}\n\nconst month = today.getMonth() + 1;\nconst isSummerMonth = config.settings.SUMMER_MONTHS.includes(month);\n\n// Get sunset time for today (from Hebcal zmanim)\nconst zmanimUrl = `https://www.hebcal.com/zmanim?cfg=json&latitude=${LAT}&longitude=${LON}&date=${dateStr}`;\nconst zmanimResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: zmanimUrl,\n  json: true\n});\nconst sunset = zmanimResp.times?.sunset || null;\n\nreturn [{\n  json: {\n    isYomKodesh,\n    transitionToChol,\n    havdalahToday,\n    sunset,\n    isSummerMonth,\n    month,\n    dateStr\n  }\n}];\n"
      },
      "id": "check-kodesh",
      "name": "Check Yom Kodesh",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-kodesh",
              "leftValue": "={{$json.isYomKodesh}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-kodesh",
      "name": "Is Yom Kodesh?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get weather forecast for the next 36 hours from Tomorrow.io\nconst config = $('Load Config').first().json;\nconst LAT = config.settings.LATITUDE;\nconst LON = config.settings.LONGITUDE;\nconst API_KEY = config.secrets.TOMORROW_IO_KEY;\n\nconst url = `https://api.tomorrow.io/v4/weather/forecast?location=${LAT},${LON}&timesteps=1h&apikey=${API_KEY}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: url,\n  json: true\n});\n\n// Extract relevant hourly data for the next 36 hours\nconst hourly = (response.timelines?.hourly || []).slice(0, 36).map(h => ({\n  time: h.time,\n  temperature: h.values?.temperature,\n  humidity: h.values?.humidity,\n  cloudCover: h.values?.cloudCover,\n  weatherCode: h.values?.weatherCode\n}));\n\n// Calculate max temperature for today/tomorrow\nconst maxTemp = Math.max(...hourly.map(h => h.temperature || 0));\n\nreturn [{\n  json: {\n    forecast: hourly,\n    maxTemp,\n    currentTemp: hourly[0]?.temperature || null\n  }\n}];\n"
      },
      "id": "get-weather-day",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "// AI Yom Kodesh (Shabbat/Chag Day) Steward\n// Runs at 11:00 daily. Only acts if today is Kodesh.\n// Responsibilities:\n//   1. Daytime comfort actions (ACs for lunch, afternoon rest)\n//   2. If transition Kodesh→Chol today: turn ON mini-bar at havdalah\n//   Does NOT handle: erev actions, candle lighting shutdowns\nconst config = $('Load Config').first().json;\nconst kodeshData = $('Check Yom Kodesh').first().json;\nconst weatherData = $('Get Weather Forecast').first().json;\n\nconst GEMINI_KEY = config.secrets.GEMINI_API_KEY;\nconst devices = config.devices;\n\nconst prompt = `You are the \"AI Yom Kodesh (Shabbat Day) Steward.\" You manage DAYTIME actions during Shabbat/Chag.\nIt is now 11:00 on a day that is Kodesh (Shabbat or Yom Tov).\n\nYOUR SCOPE (today 11:00 until tonight):\n- Plan daytime comfort actions (ACs, shutters)\n- If there's a transition Kodesh→Chol today (havdalah): turn ON mini-bar at havdalah time\n- You do NOT handle erev/candle lighting (that was yesterday's agent)\n\nTRANSITION LOGIC:\n- transitionToChol: ${kodeshData.transitionToChol}\n  → If TRUE: Havdalah is today. Turn ON mini-bar at havdalah time.\n  → If FALSE: Kodesh continues tomorrow (multi-day). Do NOT turn on mini-bar.\n\nAvailable smart entities:\n- Living Room ACs (IDs: \"${devices.AC_LIVING_1}\", \"${devices.AC_LIVING_2}\" - codes: \"switch\", \"mode\", \"temp_set\")\n- Bedroom AC (ID=\"${devices.AC_BEDROOM}\")\n- Kids Room AC (ID=\"${devices.AC_KIDS}\")\n- Kitchen AC (ID=\"${devices.AC_KITCHEN}\")\n- Mini-Bar (ID=\"${devices.MINI_BAR}\" - code \"switch_1\") - ON only if transition Kodesh→Chol\n- Shutters (Left=\"${devices.SHUTTER_LEFT}\", Right=\"${devices.SHUTTER_RIGHT}\" - code \"percent_control\")\n\nContext:\n- Today: ${kodeshData.dateStr}\n- Transition to Chol: ${kodeshData.transitionToChol}\n- Havdalah time: ${kodeshData.havdalahToday || 'No havdalah today'}\n- Sunset: ${kodeshData.sunset}\n- Is Summer: ${kodeshData.isSummerMonth}\n- Month: ${kodeshData.month}\n- Max Temperature: ${weatherData.maxTemp}°C\n- Current Temperature: ${weatherData.currentTemp}°C\n- Forecast: ${JSON.stringify(weatherData.forecast.slice(0, 12))}\n\nRULES:\n1. Turn OFF bedroom/kids ACs at 11:00 (they ran all night from erev agent).\n2. Kitchen AC ON 11:30, OFF 12:00 (pre-lunch, summer+hot only).\n3. Living room ACs ON 12:00-14:00 (Shabbat lunch, summer+hot only).\n4. Bedroom AC ON 14:00 until sunset (always in summer for afternoon rest).\n5. Kids AC ON 14:00 until sunset (only if temp > 20°C).\n6. If transitionToChol=true: Mini-Bar ON at havdalah time.\n7. If transitionToChol=false: Do NOT touch mini-bar.\n8. Skip AC actions if NOT summer (months 5-10) or temp < 20°C (except bedroom=always in summer).\n\nOutput ONLY valid JSON:\n{\n  \"reasoning_summary\": \"Brief Hebrew summary\",\n  \"schedule\": [\n    {\n      \"time\": \"YYYY-MM-DDTHH:MM:SS+03:00\",\n      \"deviceId\": \"tuya_device_id\",\n      \"entity\": \"entity_name\",\n      \"action\": \"ON/OFF/SET\",\n      \"commands\": [{\"code\": \"command_code\", \"value\": \"value\"}],\n      \"explanation\": \"Why (Hebrew)\"\n    }\n  ]\n}`;\n\nconst payload = {\n  contents: [{ role: \"user\", parts: [{ text: prompt }] }],\n  generationConfig: {\n    responseMimeType: \"application/json\",\n    responseSchema: {\n      type: \"object\",\n      properties: {\n        reasoning_summary: { type: \"string\" },\n        schedule: {\n          type: \"array\",\n          items: {\n            type: \"object\",\n            properties: {\n              time: { type: \"string\" },\n              deviceId: { type: \"string\" },\n              entity: { type: \"string\" },\n              action: { type: \"string\" },\n              commands: { type: \"array\", items: { type: \"object\", properties: { code: { type: \"string\" }, value: {} } } },\n              explanation: { type: \"string\" }\n            },\n            required: [\"time\", \"deviceId\", \"entity\", \"action\", \"commands\", \"explanation\"]\n          }\n        }\n      },\n      required: [\"reasoning_summary\", \"schedule\"]\n    }\n  }\n};\n\nconst url = \"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=\" + GEMINI_KEY;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST', url, body: payload, json: true,\n    headers: { 'Content-Type': 'application/json' }\n  });\n  const text = response.candidates[0].content.parts[0].text;\n  const result = JSON.parse(text.replace(/```json|```/g, '').trim());\n  return [{ json: result }];\n} catch (e) {\n  return [{ json: { reasoning_summary: \"שגיאה: \" + e.message, schedule: [] } }];\n}\n"
      },
      "id": "ai-kodesh",
      "name": "AI Yom Kodesh Steward",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "// Execute scheduled Tuya commands at the right times\n// This node receives a schedule array and executes commands that are due NOW\nconst crypto = require('crypto');\nconst config = $('Load Config').first().json;\nconst scheduleData = $input.first().json;\n\nconst TUYA_ACCESS_ID = config.secrets.TUYA_ACCESS_ID;\nconst TUYA_ACCESS_SECRET = config.secrets.TUYA_ACCESS_SECRET;\nconst API_URL = 'https://openapi.tuyaeu.com';\n\n// Get Tuya token\nasync function getTuyaToken() {\n  const timestamp = Date.now().toString();\n  const path = '/v1.0/token?grant_type=1';\n  const contentHash = crypto.createHash('sha256').update('').digest('hex');\n  const stringToSign = 'GET\\n' + contentHash + '\\n\\n' + path;\n  const str = TUYA_ACCESS_ID + timestamp + stringToSign;\n  const sign = crypto.createHmac('sha256', TUYA_ACCESS_SECRET).update(str).digest('hex').toUpperCase();\n\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: API_URL + path,\n    headers: { 't': timestamp, 'sign': sign, 'client_id': TUYA_ACCESS_ID, 'sign_method': 'HMAC-SHA256' },\n    json: true\n  });\n\n  return response.result.access_token;\n}\n\n// Send command to device\nasync function sendCommand(token, deviceId, commands) {\n  const timestamp = Date.now().toString();\n  const path = '/v1.0/devices/' + deviceId + '/commands';\n  const body = JSON.stringify({ commands });\n\n  const contentHash = crypto.createHash('sha256').update(body).digest('hex');\n  const stringToSign = 'POST\\n' + contentHash + '\\n\\n' + path;\n  const str = TUYA_ACCESS_ID + token + timestamp + stringToSign;\n  const sign = crypto.createHmac('sha256', TUYA_ACCESS_SECRET).update(str).digest('hex').toUpperCase();\n\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: API_URL + path,\n    headers: {\n      't': timestamp, 'sign': sign, 'client_id': TUYA_ACCESS_ID,\n      'sign_method': 'HMAC-SHA256', 'access_token': token,\n      'Content-Type': 'application/json'\n    },\n    body: body,\n    json: true\n  });\n\n  return response;\n}\n\n// Filter actions that should execute NOW (within 2 minute window)\nconst now = Date.now();\nconst WINDOW_MS = 2 * 60 * 1000; // 2 minutes\n\nconst dueActions = scheduleData.schedule.filter(action => {\n  const actionTime = new Date(action.time).getTime();\n  return Math.abs(actionTime - now) <= WINDOW_MS;\n});\n\nif (dueActions.length === 0) {\n  return [{ json: { executed: 0, message: 'No actions due at this time' } }];\n}\n\n// Execute due actions\nconst token = await getTuyaToken.call(this);\nconst results = [];\n\nfor (const action of dueActions) {\n  try {\n    const result = await sendCommand.call(this, token, action.deviceId, action.commands);\n    results.push({\n      entity: action.entity,\n      action: action.action,\n      success: result.success,\n      time: action.time\n    });\n  } catch (e) {\n    results.push({\n      entity: action.entity,\n      action: action.action,\n      success: false,\n      error: e.message,\n      time: action.time\n    });\n  }\n}\n\nreturn [{ json: { executed: results.length, results } }];\n"
      },
      "id": "execute-kodesh",
      "name": "Execute Shabbat Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "// Not Yom Kodesh - skip\nreturn [{ json: { message: 'Not Yom Kodesh today, skipping.' } }];"
      },
      "id": "skip-kodesh",
      "name": "Not Kodesh - Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Send Yom Kodesh (Shabbat Day) summary email\nconst fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/home/node/.n8n/config.json', 'utf8'));\nconst kodeshData = $('Check Yom Kodesh').first().json;\nconst aiResult = $('AI Yom Kodesh Steward').first().json;\n\nconst havdalah = kodeshData.havdalahToday\n  ? new Date(kodeshData.havdalahToday).toLocaleTimeString('he-IL', { hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Jerusalem' })\n  : null;\n\nconst actionsCount = (aiResult.schedule || []).length;\nconst reasoning = aiResult.reasoning_summary || '';\nconst transitionToChol = kodeshData.transitionToChol;\n\nconst scheduleRows = (aiResult.schedule || []).map(action => {\n  const time = new Date(action.time).toLocaleTimeString('he-IL', { hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Jerusalem' });\n  const icon = action.action === 'OFF' ? '🔴' : '🟢';\n  return `<tr>\n    <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${icon} ${time}</td>\n    <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${action.entity}</td>\n    <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${action.explanation || ''}</td>\n  </tr>`;\n}).join('');\n\nconst headerColor = transitionToChol ? '#2d3436' : '#6c5ce7';\nconst statusText = transitionToChol \n  ? `שבת שלום! הבדלה: ${havdalah}` \n  : 'שבת שלום! הקודש ממשיך מחר';\n\nconst htmlBody = `\n<div style=\"direction: rtl; font-family: 'Segoe UI', Tahoma, sans-serif; max-width: 600px; margin: auto; border: 1px solid #eee; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n  <div style=\"background: linear-gradient(135deg, ${headerColor} 0%, #0984e3 100%); color: white; padding: 25px; text-align: center;\">\n    <h1 style=\"margin: 0; font-size: 24px;\">✡️ ${statusText}</h1>\n  </div>\n  \n  <div style=\"padding: 25px; color: #333;\">\n    <div style=\"background: #f8f9fa; padding: 15px; border-radius: 8px; margin-bottom: 20px;\">\n      <p style=\"margin: 0; font-size: 15px; font-weight: bold;\">🤖 תוכנית היום:</p>\n      <p style=\"margin: 8px 0 0; font-size: 14px; color: #555;\">${reasoning}</p>\n    </div>\n\n    ${transitionToChol ? '<p style=\"font-size: 14px; color: #27ae60; font-weight: bold;\">🔄 מעבר קודש → חול הערב — מיני בר יודלק בהבדלה</p>' : '<p style=\"font-size: 14px; color: #8e44ad; font-weight: bold;\">✡️ הקודש ממשיך — אין שינוי במיני בר</p>'}\n\n    <p style=\"font-size: 14px; color: #666; margin-bottom: 15px;\">\n      ${actionsCount} פעולות מתוזמנות להיום:\n    </p>\n\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 13px;\">\n      <thead>\n        <tr style=\"background: #f0f0f0;\">\n          <th style=\"padding: 8px; text-align: right;\">שעה</th>\n          <th style=\"padding: 8px; text-align: right;\">מכשיר</th>\n          <th style=\"padding: 8px; text-align: right;\">סיבה</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${scheduleRows}\n      </tbody>\n    </table>\n  </div>\n\n  <div style=\"background: #f8f9fa; padding: 12px; text-align: center; font-size: 11px; color: #999;\">\n    AI Shabbat Day Manager | n8n Automation\n  </div>\n</div>\n`;\n\nreturn [{\n  json: {\n    to: config.settings.NOTIFICATION_EMAIL,\n    subject: `✡️ שבת שלום - תוכנית היום (${actionsCount} פעולות)`,\n    html: htmlBody\n  }\n}];\n"
      },
      "id": "kodesh-email-prep",
      "name": "Prepare Kodesh Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        -200
      ]
    },
    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "={{.to}}",
        "subject": "={{.subject}}",
        "emailType": "html",
        "html": "={{.html}}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "kodesh-email-send",
      "name": "Send Kodesh Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1750,
        -200
      ],
      "credentials": {
        "smtp": {
          "id": "ryZJ2VT9HAAZoS3d",
          "name": "Gmail Relay SMTP"
        }
      },
      "webhookId": "24016791-9cd7-4932-8fd3-e56437991bd3"
    }
  ],
  "connections": {
    "Load Config": {
      "main": [
        [
          {
            "node": "Check Yom Kodesh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Yom Kodesh": {
      "main": [
        [
          {
            "node": "Is Yom Kodesh?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Yom Kodesh?": {
      "main": [
        [
          {
            "node": "Get Weather Forecast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Kodesh - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Forecast": {
      "main": [
        [
          {
            "node": "AI Yom Kodesh Steward",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Yom Kodesh Steward": {
      "main": [
        [
          {
            "node": "Execute Shabbat Actions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Kodesh Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Kodesh Email": {
      "main": [
        [
          {
            "node": "Send Kodesh Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 00:00 Check": {
      "main": [
        [
          {
            "node": "Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}